body {
    background-color: white;
}
#flex {
    display: flex;
    flex-direction: row;

}

nav {
    background-color: white;
}
main {
    background-color: white;
}
h1 {
    color: darkgreen;
}

p {
  color:grey;
}

a {
   color:darkgreen;
}